body{
    margin:0;
    
}
#heading{
    padding:7px 0px 15px 0px;
    height:50px;
    /* background-image:linear-gradient(white,blue); */
    text-align:center;
    
}

.log{
    color:#000000;
    text-decoration:none;
}

@media only screen
and (min-width: 600px)
{.log-details{
  height:25em;
  width:30em;
}
 .log-page{ height:90vh;}
}
@media only screen and (max-width:600px){
  .log-details{ height:23em;
              width:15em;}
  .log-page{ width:300px;
         height:500px;}
}

.log-details{
  text-align: auto;
  border:2px solid black;
}
.row1{
    
    display:flex;
    height:120px;
    justify-content:space-evenly;
     margin:75px 0px 100px 0px;
  
  
    }
  .row2{
  /*   margin:3px; */
  /*    border:2px solid black; */
    display:flex;
  height:120px;
    justify-content:space-evenly;
  
  }
  
  #logo{
     margin: auto;
    margin-top:20px;
      border: 3px solid rgb(255, 255, 255);
      border-radius: 5px;
      background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/a/ac/IIEST_Shibpur_Logo.svg/1200px-IIEST_Shibpur_Logo.svg.png);
      background-size: 20vh;
      background-color: white;
      height: 20vh;
      width: 20vh;
  }
 
 /* From uiverse.io by @adamgiebl */
button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }

