* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .card.left {
    width: 30%;
    padding-left: 10px;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .card.right {
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
  }
  
  #content {
    padding: 2% 10%;
  }
  
  .teacher-title {
    text-align: center;
  }
  
  .teacher-name {
    font-size: 2rem;
  }
  
  .teacher-img {
    font-size: 5rem;
    margin: 30px auto 20px;
  }
  
  @media screen and (max-width: 800px) {
    .card.left {
      width: 100%;
      display: inline;
    }
  
    .card.right {
      width: 100%;
      display: inline;
    }
  }